* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.alternating-content, .content {
    flex: 1;
}

.nav-menu {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
}

.nav-heading {
    margin-right: auto;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
    position: relative;
}

.nav-text {
    display: inline-block;
    transition: transform 400ms;
}
  
.nav-link:hover .nav-text {
    transform: translateY(-10px) scale(1.2);
}

.nav-login {
    color: white;
    background-color: black;
    border: 1px solid black;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
}
  
.nav-login::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: transform 0.3s;
    transform: translateX(100%);
    z-index: -1; /* Adjusted z-index */
}

.nav-home {
    color: black;
    text-decoration: none;
}
  
.nav-login:hover {
    background-color: white;
    color: black;
}
  
.nav-login:hover::before {
    transform: translateX(0);
}

.alternating-content {
    width: 100%;
    background-color: #9ebcff;
    padding: 100px 0;
    margin: 20px 0;
}

.content {
    width: 100%;
    padding: 100px 0;
    margin: 20px 0;
}

.content-section-over-ons {
    width: 400px;
    font-size: 20px;
    position: relative;
    left: 40vw;
    transform: translateX(-50%);
}

.content-section-pakketten {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    font-size: 20px;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
}

.content-section-pakketten > h1 {
    text-align: center;
    width: 100%;
    margin: 0px;
}

.pakket > p {
    font-size: 16px;
    height: 22.5px;
}

.pakket {
    min-width: 300px;
    text-align: center;
    margin-bottom: 80px;
}

.button-pakket {
    text-decoration: none;
    color: white;
    background-color: #3898ec;
    padding: 9px 15px;
    margin-top: 20px;
    position: absolute;
    transform: translateX(-50%);
    transition: transform 200ms;
}

.button-pakket:hover {
    transform: translateX(-50%) scale(1.2);
}

.footer-content {
    display: flex;
    position: relative;
    width: auto;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-content > div {
    width: 200px;
}

.footer-legal > a, .footer-contact > a {
    color: blueviolet;
    margin: 16px 0;
    display: block;
    height: 20px;
    color: black;
    
}

.footer-legal > a {
    color: #0088c7;
}

.footer-contact > a {
    text-decoration: none;
}

.footer-legal {
    padding: 54px 0 0;
}

.footer-contact {
    margin-right: auto;
}

.footer {
    margin: 20px 0 0;
    flex-shrink: 0;
}

.content-section-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 2fr;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    min-width: 400px;
}

.content-section-login > h1, .content-section-registeer > h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 38px;
}

.content-section-login > form, .content-section-registeer > form {
    display: grid;
    grid-column: span 2;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.login-button {
    background-color: #3898ec !important;
    color: white;
    cursor: pointer;
}

.content-section-login > form > input, .content-section-registeer > form > input, .content-section-pakket-kopen > form > input {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #eee;
}

.content-section-login > form > input:focus, .content-section-registeer > form > input:focus {
    outline: none;
}

.content-section-login > a, .content-section-registeer > a {
    margin-top: 20px;
    color: black;
    grid-row: 3 / 3;
    height: fit-content;
}

.content-section-registeer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    min-width: 400px;
}

.content-section-pakket-kopen {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.content-section-pakket-kopen > h1 {
    text-align: center;
}

.content-section-pakket-kopen > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.content-section-pakket-kopen > form > .login-button {
    grid-column: 1 / span 2;
    grid-row: 2;
}